.agregar-zona {

  min-height: 100vh;

  background:
    linear-gradient(
      180deg,
      #f8fafc 0%,
      #eef2f7 100%
    );

  padding:
    2.5rem
    2rem
    4rem;

  box-sizing: border-box;
}

.contenido-agregar-zona {

  width: 100%;

  max-width: 1250px;

  margin: 0 auto;
}

.top-garage {

  display: flex;

  align-items: flex-start;

  justify-content: space-between;

  margin-bottom: 2.5rem;
}

.top-izquierda {

  display: flex;

  align-items: flex-start;

  gap: 1.5rem;
}

.boton-back {

  width: 74px;
  height: 74px;

  border: none;

  border-radius: 24px;

  background: rgba(255,255,255,0.82);

  backdrop-filter: blur(18px);

  cursor: pointer;

  display: flex;

  align-items: center;

  justify-content: center;

  transition: 0.2s ease;

  box-shadow:
    0 10px 30px rgba(15,23,42,0.06);
}

.boton-back:hover {

  transform: translateY(-3px);
}

.info-top h1 {

  font-size: 4rem;

  font-weight: 800;

  color: #0f172a;

  margin-bottom: 10px;

  line-height: 1;
}

.info-top p {

  color: #64748b;

  font-size: 1.4rem;
}

.boton-check {

  width: 74px;
  height: 74px;

  border-radius: 24px;

  border: 2px solid #dbeafe;

  background: rgba(255,255,255,0.7);

  display: flex;

  align-items: center;

  justify-content: center;
}

.form-garage {

  display: flex;

  flex-direction: column;

  gap: 2rem;
}

.acciones-garage {

  display: flex;

  flex-direction: column;

  gap: 1rem;

  margin-top: 2rem;
}


.btn-guardar-grande {

  width: 100%;

  height: 72px;

  border: none;

  border-radius: 24px;

  background:
    linear-gradient(
      135deg,
      #156FE5 0%,
      #005eff 100%
    );

  color: white;

  font-size: 1.1rem;

  font-weight: 700;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 12px;

  cursor: pointer;

  transition: 0.2s ease;

  box-shadow:
    0 14px 30px rgba(21,111,229,0.22);
}


.btn-guardar-grande:hover {

  transform: translateY(-3px);
}


.btn-cancelar-grande {

  width: 100%;

  height: 68px;

  border: none;

  border-radius: 22px;

  background: #e5e7eb;

  color: #374151;

  font-size: 1rem;

  font-weight: 700;

  cursor: pointer;

  transition: 0.2s ease;
}


.btn-cancelar-grande:hover {

  background: #d1d5db;
}

/* MOBILE */

@media (max-width: 768px) {

  .agregar-zona {

    padding:
      1rem
      1rem
      7rem;
  }

  .top-garage {

    margin-bottom: 2rem;
  }

  .top-izquierda {

    gap: 1rem;
  }

  .boton-back,
  .boton-check {

    width: 58px;
    height: 58px;

    border-radius: 18px;
  }

  .info-top h1 {

    font-size: 2.6rem;
  }

  .info-top p {

    font-size: 1rem;
  }

  .btn-crear {

    height: 72px;

    font-size: 1.2rem;

    border-radius: 22px;
  }

  .btn-cancelar {

    height: 68px;

    font-size: 1.1rem;

    border-radius: 22px;
  }
}