.header {

  height: 70px;

  background: white;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 24px;

  border-bottom: 1px solid #ddd;
  position:fixed;
  top: 0;
  left: 0%;
  right: 0;
  z-index: 1000;
  
}

.header-spacer {
  height: 70px;
  flex: 0 0 70px;
}


/* IZQUIERDA */
.header-left {

  display: flex;

  align-items: center;

  gap: 14px;
}


/* DERECHA */
.header-right {

  display: flex;

  align-items: center;

  gap: 18px;

  font-size: 22px;

  cursor: pointer;
}


/* TITULO */
.titulo-header {

  font-size: 28px;

  font-weight: 700;

  color: #000000;

  margin: 0;
}


/* LOGO */
.logo-smartlot img {

  width: 150px;

  height: 20% !important;

  object-fit: contain;
  margin-left: -19%;
  background-color: transparent;
}
.logo-smartlot{
  width: 150px;
   height: 20% !important;
  background: transparent;
  border-color: transparent;

}
